@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 2;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */

  body {
    font-family: Sans-Serif;
    font-weight: narrow;
    line-height: 18px;
    background-color:white;
  }

  h2 {
    color:white;
    font-family:  monospace;
    font-size: 30px;
    line-height: 34px;

    letter-spacing: 3.5px;
  }

  h3 {
    line-height: 36px;
    color: #56C2B2;
  }

  h4 {
    color: #FFAA2B;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: center;
    width: 60%; /* 480px / 800px */

  }

  .wrapper {
    background: #fff;
    margin: 16px auto;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
    height: 100%;
    text-align: center;
  }

  .center {
  text-align: center;
  }

  .right {
  text-align: right;
  }

  .box {
    float: center;
    margin: auto;
    width: 275px;
    border-color:#ED5C36;
    border-width: 0 2px;
    border-style: solid;
    color: #444444;
    font-size: 14px;
    line-height: 1.3em;
    padding: 10px;
 }
}



@media screen and (max-width: 600px) {


  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }


}
/* Styling for forms */
input {
  margin: 10px 0;
  box-sizing: border-box;
  text-align: center;
}

input[type=button], input[type=submit], input[type=reset] {
  display: inline-block;
  color: #F6B655;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border: 2px solid;
  cursor: pointer;
  background-color: white;
}

.width{
    width: 180px;
    display: inline-block;
}

label{
  font-size: 22px;
  color: #56C2B2;

}
.width{
    width: 180px;
    display: inline-block;
}

/* --link styles-- */
a.foot:link, a.foot:visited {
  display: inline-block;
  color: #56C2B2;
  font-weight: bold;
  padding: 10px;
  border: 2px solid;
  letter-spacing: 1px;
}

a:link , a:visited {
  display: inline-block;
  color: #F6B655;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border: 2px solid;
  letter-spacing: 1px;
}

a:hover, a.foot:hover {
  color: #ED5C36;
}

/*Banner style*/
.banner {
    width: 100%;

    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #3256BB;
    font-size: 16pt;
    display: table;
    padding: 3% 0;
}
