<div class="banner">
    <h2>log in to your account</h2>
</div>

<div class ="wrapper">
    <h3>welcome back!</h3>
    <form action="/login" method="POST">
        <input class="text email" type="email" name="email" placeholder="Email Addess" required="">
        <input class="text" type="password" name="password" placeholder="Password" required="">
        <br><br><br>
        <input type="submit" value="LOGIN">
    </form>
    
    <br>
    
<hr>

    <h5>
        <a href="/register">Sign up for an account</a>
        <br>
        <br>
        <a href="/">Back to Home</a>
    </h5>
</div>

