<div class="banner">
    <h2>G R A T I A</h2>
</div>
<br>

<h3> a logbook of thanksgiving</h3><br><br>

<div class="center">
    <a href="/register">register</a>&nbsp; &nbsp;
    <a href="/about">about</a>&nbsp; &nbsp;
    <a href="/login">log in</a>
</div>
