
<h5>hi, <%=@user.username.capitalize %>!</h5>

<form action="/entries/new">
	<input type="submit" class="button width" value="New Entry">
</form>
<form action="/collection">
	<input type="submit" class="button width"value="View / Edit Existing Entries">
</form>
<form action="/about">
	<input type="submit" class="button width" value="About">
</form>
<form action="/logout">
	<input type="submit" class="button width"value="Log Out">
</form>



